<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Test suite" guice-stage="DEVELOPMENT">

	<groups>
		<run>
			<include name="RegressionTest" />
		</run>
	</groups>


	<test thread-count="5" name="Default test" verbose="2">
		<classes>
			<class name="com.learning.week3.AutomationTests" />
		</classes>
		
	</test> <!-- Default test -->
</suite> <!-- Default suite -->